body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #a4fed9, 	#2a67a2);
}

.app {
    text-align: center;
}

.button-container {
    display: flex;  
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}